.copy-button {
    background-color: #009688;
    transition: background-color 0.1s;
    color: white;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-top-color: rgb(230, 230, 230);
    border-right-color: rgb(230, 230, 230);
    border-bottom-color: #b3b3b3;
    border-radius: 5px;
    border-style: solid;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .5) inset;
    font-size: 14px;
    padding: 6px 12px 9px;
    margin-bottom: 0;
    margin-left: 10px;
    cursor: pointer;
    text-shadow: none;
  }

.copy-button:hover {
    background-color: #00695c!important;
}