.copy-button {
    background-color: #009688;
    transition: background-color 0.1s;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    padding: 6px 10px 7px;
    cursor: pointer;
  }

.copy-button:hover {
    background-color: #00695c!important;
}